* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    scroll-behavior: smooth;
}

.quadrati {
    display: flex;
    justify-content: space-between;
}

.primocontenitoresx {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    background-color: #000000;
    border-bottom: 1px solid #4d4d4d;
    position: relative;
}

.primocontenitoresx i {
    color: #ffff;
    margin: 20px 30px 0;
    font-size: 18px;
}

.primocontenitoresx p {
    color: #ffff;
}

.sx {
    margin: 10px 30px;
    color: #ffff;
    font-size: 12px;
    width: 100%;
}

#arrow,
#arrow2,
#arrow3 {
    position: relative;
    top: -5px;
    left: 85px;
    font-size: 12px;
}

#home,
#library,
#cerca,
#bookmark,
#plus {
    color: #ffff;
    margin: 10px 30px;
    font-size: 20px;
}

#dots {
    font-size: 25px;
}

#bookmark {
    margin-top: 10px;
    margin-bottom: 25px;
}

#plus {
    margin-left: 30px;
    margin-top: 50px;
}

#heart {
    background-color: #ffff;
    color: #000000;
    margin: 15px 30px;
    font-size: 20px;
}

#bookmark {
    background-color: #004537;
    margin-top: 15px;
}

.linea {
    margin: auto;
    width: 82%;
    height: 1px;
    border: 1px solid rgb(163, 163, 163);

}

.contenitoredx {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    width: 310px;
    background-color: #000000;
}

.first {
    display: flex;
    justify-content: end;
    align-items: center;
}

#minus,
#window,
#x {
    color: #ffff;
    margin: 10px 20px;
    font-size: 10px;
}

.amici {
    display: flex;
    justify-content: space-between;
    color: #ffff;
    font-size: 20px;
    margin: 10px;
    margin-top: 5px;
}

.icons i {
    margin: 0 10px;
}

.accounts {
    margin-top: 30px;
    display: flex;
    color: #ffff;
    align-items: start;
    line-height: 25px;
    justify-content: center;
}

.img {
    background-color: #d829b2;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

.info {
    font-size: 14px;
    margin-left: 10px;
}

.info i {
    font-size: 4px;
    margin: 0 5px;
}

.info p {
    margin: 0 5px;
}

.fa-solid.fa-bars {
    transform: rotate(90deg);
}

#primo-testo-dx i,
#secondo-testo-dx i,
#terzo-testo-dx i {
    font-size: 10px;
    margin: 0 10px;
}

.time {
    margin-left: 15px;
    font-size: 12px;
}

#primo-testo-dx>.fa-regular:first-child {
    margin-right: 10px;
}

.main {
    width: 900px;
    overflow-y: scroll;
}

.up {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.dropdown {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 150px;
    height: 28px;
    background-color: #000000;
    border-color: #000000;
    padding-left: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.dropdown img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    position: absolute;
    left: -10px;
}

.bottoni {
    display: flex;
    align-items: center;
    margin: 0 10px;
    width: 25px;
    cursor: pointer;
}

.bottoni i {
    margin: 0 10px;
    color: #ffffff;
    background-color: #000000;
    padding: 7px 12px;
    border-radius: 50%;
    font-size: 25px;
}

.colore {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
}

.colore i {
    color: #ffffff;
}

.jumbo {
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 95%;
    height: 200px;
    background: linear-gradient(to top right, rgb(0, 0, 0), rgb(80, 80, 80));
}

.txt-btn {
    margin-left: 20px;
}

.album-img {
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

.album-img img {
    height: 150px;
    width: 150px;
}

.album,
.title,
.artisti,
.payoff {
    color: #ffffff;
}

.btn-play {
    background-color: #1ed760;
    padding: 7px;
    border-radius: 25px;
    width: 80px;
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: 500;
}

.btn-jumbo {
    background-color: #000000;
    padding: 7px;
    border-radius: 25px;
    width: 80px;
    border: 1px solid #ffffff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 1em;
    color: #ffffff;
}

.annunci {
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin-left: 18em;
    margin-bottom: 5em;
    background-color: #222222;

}

.annunci p {
    margin-bottom: 0;
    font-size: 12px;
    padding: 5px 10px;
    color: #4c4c4c;
}

.bnsr {
    margin-left: 20px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 30px;
}

.album-shelf {
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    height: 200px;
}

.card-random {
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
}

.album-pics {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.album-mini img {
    width: 25px;
    height: 25px;
}

.album-pics p {
    width: 25px;
    height: 25px;
    margin-top: 50vh;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 10px; 
    text-align: center; 

}

.like {
    margin-left: 20px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
}

.card-random p {
    color: #ffffff;
    font-size: 12px;
}

.card-album {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 00px;
    color: #ffffff;
}

.card-album img {
    border-radius: 15px;
}

.card-container {
    background-color: #181313;
    border-radius: 20px;

}

.card {
    margin-bottom: 16px;

}

.card-body {
    padding: 10px;
}

.album-shelf-titoli {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.tit2 {
    font-size: 12px;
    margin-right: 20px;
    margin-top: 20px;
    color: #ffffff;
}

#filter-input:hover {
    border: none;
}

#filter-input:active {
    border: none;
}

#filter-input:focus-visible {
    border: none;
}

#filter-input:focus-within {
    border: none
}

#filter-input:focus {
    border: none;
    outline: none;
}

input::-webkit-input-placeholder {
    color: white;
}
.lettore-musicale {
    background-color: #181818;
}

.play-btn span {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;  
  background-color: #fff;
  border-radius: 50px;
  padding-top: 1px;
}


#lettore {
    height: 4px;
    appearance: none;
    width: 100%;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: #5e5e5e;
  }
  #lettore[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* display: none; */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
  }
  
  #lettore[type="range"]:hover {
    background: green;
  }
  #lettore[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
  }

  .progress-bar {
    animation: progresso;
    animation-duration: 180s; /* Durata dell'animazione in secondi */
    animation-iteration-count: infinite; /* Numero di volte che l'animazione si ripete (es. infinite per ripetersi all'infinito) */
    animation-timing-function: ease;

  }

  .progress {
    --bs-progress-bar-bg: #f8f9fa;
    background-color: #adb5bd;
    height: 5px;
    width: 700px;
}

  @keyframes progresso {
    0% {
        width: 0%;
    } 100% {
        width: 100%;
    }
  }