/* .bordo {
    border: 2px solid red;
    height: 100vh;
} */

body {
    background-color: #121212;
}

/* Sezione user */

.dropdown.user-container {
    margin: 5px 10px;
}

.btn.btn-dark.dropdown-toggle img {
    width: 30px;
    border-radius: 50px;
}

.btn.btn-dark.dropdown-toggle .user {
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 230px;
}

.btn.btn-dark.dropdown-toggle.d-flex {
    width: 200px;
    padding: 2px 10px 2px 2px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* sezione arrow buttons */
.arrow-buttons span {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}


.arrow-buttons span a i {
    color: white;
}

/* sezione hero */

.dettagli-hero img {
    width: 40px;
    border-radius: 50px;
}

h1 {
    font-size: 80px;
}

.hero {
    /* border: 1px solid blue; */
    height: 600px;
    background-color: burlywood;
}

/* Lista canzoni */

.lista-canzoni {
    /* border: 1px solid green; */
    height: 100%;
    width: 98.2%;
    top: 450px;
    background-image: linear-gradient(180deg, #0000008a, transparent);
}


.interactive-btn {
    font-size: 40px;
    color: #ffffffa8;
}

.interactive-btn span:first-of-type {
    font-size: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #1ed760;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    color: black;
}

table.table {
    --bs-table-color: white;
    --bs-table-bg: transparent;
    --bs-table-border-color: transparent;
}

/* lettore musicale sticky */

.lettore-musicale {
    background-color: #181818;
}

.play-btn span {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;  
  background-color: #fff;
  border-radius: 50px;
  padding-top: 1px;
}


#lettore {
    height: 4px;
    appearance: none;
    width: 100%;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: #5e5e5e;
  }
  #lettore[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* display: none; */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
  }
  
  #lettore[type="range"]:hover {
    background: green;
  }
  #lettore[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
  }

  .progress-bar {
    animation: progresso;
    animation-duration: 180s; /* Durata dell'animazione in secondi */
    animation-iteration-count: infinite; /* Numero di volte che l'animazione si ripete (es. infinite per ripetersi all'infinito) */
    animation-timing-function: ease;

  }

  .progress {
    --bs-progress-bar-bg: #f8f9fa;
    background-color: #adb5bd;
    height: 5px;
    width: 700px;
}

  @keyframes progresso {
    0% {
        width: 0%;
    } 100% {
        width: 100%;
    }
  }
/* sidebar */
.quadrati {
    display: flex;
    justify-content: space-between;
}

.primocontenitoresx {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    background-color: #000000;
    border-bottom: 1px solid #4d4d4d;
    position: relative;
}

.primocontenitoresx i {
    color: #ffff;
    margin: 20px 30px 0;
    font-size: 18px;
}

.primocontenitoresx p {
    color: #ffff;
}

.sx {
    margin: 10px 30px;
    color: #ffff;
    font-size: 12px;
    width: 100%;
}

#arrow,
#arrow2,
#arrow3 {
    position: relative;
    top: -5px;
    left: 85px;
    font-size: 12px;
}

#home,
#library,
#cerca,
#bookmark,
#plus {
    color: #ffff;
    margin: 10px 30px;
    font-size: 20px;
}
#dots{
    font-size: 25px;
}

#bookmark {
    margin-top: 10px;
    margin-bottom: 25px;
}

#plus {
    margin-left:30px;
    margin-top: 50px;
}

#heart {
    background-color: #ffff;
    color: #000000;
    margin: 15px 30px;
    font-size: 20px;
}

#bookmark {
    background-color: #004537;
    margin-top: 15px;
}

.linea {
    margin: auto;
    width: 82%;
    height: 1px;
    border: 1px solid rgb(163, 163, 163);

}

.contenitoredx {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    width: 310px;
    background-color: #000000;
}
.first{
    display: flex;
    justify-content: end;
    align-items: center;
}
#minus, #window, #x{
    color: #ffff;
    margin: 10px 20px;
    font-size: 10px;
}
.amici{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    font-size: 20px;
    margin: 10px;
    margin-top: 5px;
}
.icons i{
    margin: 0 10px;
}
.accounts{
    margin-top: 30px;
    display: flex;
    color: #ffff;
    align-items: start;
    line-height: 25px;
}
.img{
    background-color: #d829b2;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-left: 20px;
}
.info{
    font-size: 14px;
    margin-left: 10px;
}
.info i{
    font-size: 4px;
    margin: 0 5px;
}
.info p{
    margin: 0 5px;
}
.fa-solid.fa-bars{
    transform: rotate(90deg);
}
#primo-testo-dx i, #secondo-testo-dx i, #terzo-testo-dx i{
    font-size: 10px;
    margin: 0 10px;
}
.time{
    margin-left: 15px;
    font-size: 12px;
}
#primo-testo-dx > .fa-regular:first-child {
    margin-right: 10px;
}

#filterInput:hover {
    border: none;
}

#filterInput:active {
    border: none;
}
#filterInput:focus-visible {
    border: none;
}
#filterInput:focus-within{
    border: none
}
#filterInput:focus {
    border: none;
    outline: none;
}
input::-webkit-input-placeholder {
    color: white;
}

a {
    text-decoration: none;
}